<table>
  <h3>Query Log</h3>
  <tr>
    <th>Year</th>
    <th>Population</th>
    <th>Calculation Type</th>
  <% @logs.each do |log| %>
    <tr>
      <td>
        <%= log.year %>
      </td>
      <td>
        <%= number_with_delimiter(log.population) %>
      </td>
      <td>
        <%= log.calculation_type %>
      </td>
    </tr>
  <% end %>
</table>

<table>
  <h3>Query Populations Counts</h3>
  <tr>
    <th>Year</th>
    <th>Query Count</th>
  <% @population_counts.each do |year, count| %>
    <tr>
      <td>
        <%= year %>
      </td>
      <td>
        <%= count %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(function() {
    function reloadPage() {
      location.reload()
    }

    window.setTimeout(reloadPage, 10000);
  });
</script>
